@{
    ViewBag.Title = "EnviarEmail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">
    <div class="wrap-login100" style="background-color: white;">
        <h2>Enviar E-mail</h2>
        <form action="../Fornecedor/EnviarEmail" method="post" class="login100-form validate-form">

            <!--- Formulario para enviar e-mails -->
            <div id="">
                <h2>Digite o seu CNPJ para enviarmos um email de redefinição de senha para o seu email cadastrado. </h2>
                <br />  <br />
                <input type="text" name="cnpj" placeholder="CNPJ">
                <br />  <br/>                  
            </div>

            <br /> <br />
            <button id="btnEnviarEmail">Enviar</button>
        </form>
    </div>
</div>
