
@{
    ViewBag.Title = "EsqueceuSuaSenha";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<div class="container-login100">
    <div class="wrap-login100" style="background-color: white;">
        <h2>Enviar E-mail</h2>
        <form action="../Fornecedor/EnviarEmail" method="post" class="login100-form validate-form">

            - Formulario para enviar e-mails 
            <div id="">
                <h2>Digite o seu CNPJ para enviarmos um email de redefinição de senha para o seu email cadastrado. </h2>
                <br />  <br />
                <input type="text" name="cnpj" placeholder="CNPJ">
                <br />  <br/>                  
            </div>

            <br /> <br />
            <button id="btnEnviarEmail">Enviar</button>
        </form>
    </div>
</div>*@
<div class="wrap-restaurar-senha">

    <div class="row col-12 justify-content-center text-center mt-4">
        <h2>Esqueceu sua senha?</h2>
    </div>

    <div class="row text-center justify-content-center p-5">
        Selecione o seu tipo de usuário:

        <div class="row col-12 align-items-center mt-4">
            <!--- Comprador --->
            <div class="col-5 js-tilt" data-tilt>
                <a class="d-flex justify-content-center" href="../Comprador/EsqueceuSuaSenha">
                    <div id="btnComprador" class="col-9 switch-wrapper p-3">
                        <img src="/Content/images/comprador.png" />
                        <h5 class="switch-person-title p-2">Comprador</h5>
                    </div>
                    </a>
</div>
          
            <!--- Switch --->
            <label class="switch m-3">
                <a href="../Comprador/EsqueceuSuaSenha">
                    
                    <input id="switchFornecedor" type="checkbox" checked />
                    <span class="slider slider-fornecedor round "></span>
                </a>
            </label>

            <!--- Fornecedor --->
            <div class="col-5 js-tilt" data-tilt>
                <a class="d-flex justify-content-center" >
                <div id="btnFornecedor" class="col-9 switch-wrapper active-switch  p-3">
                    <img src="/Content/images/fornecedor.png" />
                    <h5 class="switch-person-title p-2">Fornecedor</h5>
                </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Pessoa Fisica & Pessoa Juridica --->
    <div id="wrapperFisicaJuridica"
         class="col-12 text-center justify-content-center mt-4 hide ">
        Informe o seu tipo de perfil:

        <div class="row align-items-center mt-4 pr-5 pb-5 pl-5">
            <!--- Pessoa Fisica --->
            <div class="col-5 js-tilt">
                <button id="btnFisica" class="col-9 switch-wrapper p-3">
                    <img src="/Content/images/comprador.png" />
                    <h5 class="switch-person-title p-2">Física</h5>
                </button>
            </div>

            <!--- Switch --->
            <label class="switch m-3">
                <input id="switchJuridica" type="checkbox">
                <span class="slider slider-juridica round unchecked"></span>
            </label>

            <!--- Pessoa Juridica --->
            <div class="col-5 js-tilt">
                <button id="btnJuridica" class="col-9 switch-wrapper p-3">
                    <img src="/Content/images/fornecedor.png" />
                    <h5 class="switch-person-title p-2">Jurídica</h5>
                </button>
            </div>
        </div>
    </div>

   

    <!--- Formulario de Enviar email--->
    <form class="row restaura-senha-form justify-content-center p-5 hide"
          method="post" action="../Fornecedor/EsqueceuSuaSenha">


        <!--- CPF --->
        <div id="inputCpf" class="col-10 wrap-input pl-2">
            <input class="input" type="text" maxlength="14" name="cpf" placeholder="CPF" data-mask="000.000.000-00" data-mask-sectionFocus="true">
            <span class="focus-input"></span>
            <span class="symbol-input">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <br />
            <p style="margin-left: 50%;font-size: 20px;font-family: inherit;color: #DAA520;">Ou</p>
        </div>


        <!--- CNPJ --->
        <div id="inputCnpj" class="col-10 wrap-input pl-2 ">
            <input class="input" type="text" maxlength="19" name="cnpj" placeholder="CNPJ" data-mask="00.000.000/0000-00" data-mask-sectionFocus="true">
            <span class="focus-input"></span>
            <span class="symbol-input">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <br />
            <p style="margin-left: 50%;font-size: 20px;font-family: inherit;color: #DAA520;">Ou</p>
        </div>

        




        <!--- Email --->
        <div id="inputEmail" class="col-10 wrap-input pl-2  mt-3">
            <input class="input" type="email" name="email" placeholder="E-mail">
            <span class="focus-input"></span>
            <span class="symbol-input">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

        <input id="inputHidden" type="text" name="inputHidden" hidden>

    </form>

    <div class="row col-12 login-options justify-content-center p-5">

        @*<span class="col-8 error-msg alert-danger text-center p-2 mt-3 mb-4 hide">
                Preencha o(s) campo(s) corretamente! @(ViewBag.Message)
            </span>*@
        
        <!---Botão voltar-->
        <div style="margin-right: 175px;" class="text-left pt-3">

            <a class="sub-link" href="/Login/Login">
                Voltar
            </a>
        </div>

       


        <!--- Botao Enviar --->
        <div class=" col-6 d-flex justify-content-end align-items-center pl-0 pr-4">
            <button id="btnEnviarEmail" type="submit" class="restaura-senha-form-btn">
                Entrar
            </button>
        </div>
    </div>




</div>
