@model SupplierRanking.Models.Fornecedor
@{
    ViewBag.Title = "Nova Senha";
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

<div class="wrap-nova-senha-fornecedor p-5">
    <div class="row col-12 justify-content-center text-center mt-4">
        <h2>Crie sua Nova Senha</h2>
    </div>

    <!--- Formulario de Nova Senha --->
    <form class="row nova-senha-fornecedor-form justify-content-center pt-5 mt-4"
          method="post" action="../Fornecedor/NovaSenha">

        <div class="row col-12 d-flex justify-content-center mb-5">
            Segue abaixo nossas recomendações para a criação de uma senha:

            <ul class="row d-flex flex-column mt-5 mb-5">
                <li class="mb-3" style="list-style-type: square;"> Conter no mínimo 6 caractéres; </li>
                <li class="mb-3" style="list-style-type: square;"> Misture letras, números e caractéres especiais (!, $, #, %); </li>
                <li style="list-style-type: square;"> Inclua letras maiúsculas e minúsculas. </li>
            </ul>

            Agora que já sabe das recomendações, cadastre abaixo sua nova senha:
        </div>

        <!--- Senha & Confirmar Senha --->
        <div class="row col-10 d-flex align-items-center justify-content-center pl-5 pr-5">

            <div class="col-9 pl-5">
                <!--- Senha --->
                <div class="wrap-input mb-4">
                    <input class="input input-senha required-field" type="password" name="novaSenha" placeholder="* Senha">
                </div>

                <!--- Confirmar Senha --->
                <div class="wrap-input">
                    <input class="input input-senha required-field" type="password" name="senhaConfirma" placeholder="* Confirmar Senha">
                </div>
            </div>

            <!--- Visualizar Senha --->
            <div class="col-2 d-flex justify-content-center pr-5">
                <button id="btnSenha">
                    <img src="/Content/images/comprador.png" />
                </button>
            </div>
        </div>

    </form>

    <div class="row col-12 login-options justify-content-center pb-5">

        <span class="@ViewBag.cssClass">
            @ViewBag.Message
        </span>

        <!--- Botão Cadastrar Nova Senha --->
        <div class="row col-12 d-flex justify-content-center">
            <button id="btnCadastrarNovaSenha" type="submit" class="login-form-btn">
                Cadastrar Nova Senha
            </button>
        </div>
    </div>

</div>


    @*<div class="wrap-login100" style="background-color: white;">
        <h2 style="text-align: center;margin-bottom: 68px;">Nova Senha</h2>

        <br />
        <br />

        <form action="../Fornecedor/NovaSenha" method="post" class="login100-form validate-form" enctype="multipart/form-data" style="margin-left: 143px;">

            <!--- Campos digitar nova senha -->
            <!--- CNPJ --->
            <div id="inputCnpj" class="col-10 wrap-input pl-2">
                <input class="input" type="text" maxlength="19" name="cnpj" placeholder="CNPJ" data-mask="00.000.000/0000-00" data-mask-sectionFocus="true">
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>

            </div>

            <div id="inputSenha" class="col-10 wrap-input pl-2  mt-3">
                <input class="input" type="password" name="novaSenha" placeholder="Senha">
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>



            <!---Confirmar Senha---->
            <div id="inputConfirmaSenha" class="col-10 wrap-input pl-2">
                <input class="input" type="password" name="senhaConfirma" placeholder="Confirmar Senha">
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>

            </div>




            <br />
            <br />

            <div class="col-6">
                <!--- Esqueci minha Senha --->
                <div class="text-left">
                    <a class="sub-link" href="/Login/Login">
                        Login
                    </a>
                </div>


            </div>




            <div class=" col-6 d-flex justify-content-end align-items-center pl-0 pr-4" style="margin-left: 91px">
                <button id="btnConfirmaSenha" type="submit" class="login-form-btn ">
                    Confirmar
                </button>
            </div>

        </form>
    </div>
</div>*@
