
@model SupplierRanking.Models.Fornecedor
@{
    ViewBag.Title = "RestaurarSenha";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">
    <div class="wrap-login100" style="background-color: white;">
        <h2>Cadastro Fornecedor</h2>
        <form action="../Fornecedor/RestaurarSenha" method="post" class="login100-form validate-form" enctype="multipart/form-data">

            <!--- Campos digitar nova senha -->
            <div id="">
                <label for="imagem" style="border: 1px solid; background-color: gainsboro; padding: .5em; font-size: 12px; cursor: pointer;">Imagem de Perfil</label>
                <input type="file" accept="image/*" id="imagem" name="imagem" style="display: none">

             
                <br /> <br />
                <input type="text" name="cnpj" placeholder="CNPJ">
                
                <input type="text" name="senha" placeholder="Senha">
                <input type="text" name="confirmarSenha" placeholder="Confirmar Senha">

           
              

                <br /> <br />

            </div>

            <br /> <br />
            <button id="btnCadastrar">Confirmar</button>
        </form>
    </div>
</div>