@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">
    <div class="wrap-login100" style="background-color: white;">
        <h2>Update de Senha </h2>
        <form action="../Fornecedor/UpdateSenha" method="post" class="login100-form validate-form">

            <!--- Formulario para enviar e-mails -->
            <div id="">
                <h2>Formulário de redefinição de senha </h2>

                <h4>Confirme seu CNPJ para maior segurança.</h4>
                <input type="text" name="cnpj" placeholder="Confirme o CNPJ">
                <br />  <br />

                <h2>INSTRUÇÕES !</h2>   
                <h4>Caso não saiba sua antiga senha e quer REDEFINIR, preencha somento os campos de nova senha e a confirme.</h4> 
                <h4>Caso queira apenas ALTERAR sua senha, preencha o campo da senha atual e redefina nos campos de nova senha.</h4>     
                <input type="text" name="senha" placeholder="senha atual">
                <br />  <br />
                <input type="text" name="novaSenha" placeholder="nova senha">
                <br />  <br />
                <input type="text" name="senhaConfirma" placeholder="confirme a senha">



            </div>

            <br /> <br />
            <button id="btnupdateSenha">Update</button>
        </form>
    </div>
</div>