
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Layout_logada.cshtml";
}


<div class="wrapper">
    <!-- Sidebar  -->
   
    <!-- Page Content  -->
    <div id="content" style="background: white">
        
        <section style=" width: 2000px;height: 104px;background: #0C496BE6;position: absolute;top: 0px;right: -8%;">




                <div class="container-fluid">
                    <!-- <button type="button" id="sidebarCollapse" onmouse="menu()"class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>

                </button>-->


                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                   

                    <!--<img style="width: 27px;height: 27px;margin-right: 100px; "src="imagens/pesquisa.png"/>-->
                  



                </div>
           

        </section>
        
        <div id="divFiltro" style="width:600px;height:450px;background-color:white;border: 30px;border-color: black;visibility:hidden;position: absolute;
            left: 31%;"></div>

        
            <div style="width: 1358px;height: 500px;background-color: white;
            top: 13%;position: absolute;left: -147px;border-top: solid;border-right: solid;
             border-left: solid;">
                <section>
                    <div style="width:210px;height:210px;background:white;position: absolute;left: 17%;border: 3px solid black;top:26px;"></div>

                    <h1 style="position: absolute;left: 41%;">Nome do Fornecedor</h1>

                    <div style="width: 413px;height: 226px;background-color: #fff0;position: absolute;left: 40%;top: 28%;">

                        <h1 style="position: absolute;left: 32%;top: 0px;">Descrição</h1>
                        <textarea style="position: absolute;left: 22%;top: 48%;width: 260px;height: 97px;"></textarea>
                    </div>



                    <div style="position: absolute;left: 50%;margin-top: 89px;">
                        <span style=" color: orange;" class="fa fa-star checked"></span>
                        <span style=" color: orange;" class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <button onclick="filtro()" style="background: url('../Content/images/avaliar.png') no-repeat;width: 50px;height:50px;
                     position: absolute;margin-left: 240px;margin-top: -59px;" data-target="#myModal" class="btn btn-info btn-lg" data-toggle="modal"></button>

                        <img style="position: absolute;right: 538px;top: 190px;width:40px;" src="~/Content/images/endereco.png" />


                        <img style="position: absolute;right: 538px;top: 280px;width:40px;" src="~/Content/images/phone.png" />
                        <img style="position: absolute;right: 47px;top: 280px;width:40px;" src="~/Content/images/email1.png" />





                    </div>



                </section>



            </div>
            <div style=" width: 1358px;height: 761px;background-color: white;position: absolute;
               left: -147px;top: 65%;border-top: solid;border-right: solid;border-left: solid;">


                <section>



                   
                        <h2 style="position: absolute;left: 48%;">Arquivo PDF</h2>
                        
                       
                   








                </section>
                <h2 style="margin-top: 194px;margin-left: 128px;" class="w3-center">Galeria de fotos</h2>

                <div class="carousel" style="position: relative;top: 15px;left: 5%;">
                    <img src="~/Content/images/about.jpg" alt="Image 1" />
                    <img src="~/Content/images/bg_1.jpg" alt="Image 2" />
                    <img src="~/Content/images/bg_3.jpg" alt="Image 3" />
                    <img src="~/Content/images/photo.png" alt="Image 4" />
                    <img src="~/Content/images/team.jpg" alt="Image 5" />
                </div>


                <div class="comentario">
                    <h3>Nome avaliador</h3>
                   

                </div>

            </div>


        
         
                               
      


          

           

        



        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="
                            background-color: #0C496BE6;
                            color: white;
                            border-bottom: 3px solid #bbad00; ">

                        <h4 style="margin-left: 241px;" class="modal-title">Nós ajude a melhorar nosso serviço!</h4>
                        <button type="button" class="close" data-dismiss="modal" style="color:white;">×</button>

                    </div>
                    <div class="modal-body">
                        <p>Avalie por :</p>
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            
                        </form>
                       
                        <br />
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                      
                        <br />
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>
                       
                        <br />
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />
                        <form>
                            <label>Comentário</label>
                            <br />
                            <input type="text" />
                        </form>
                       

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Concluir</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>


    $(':radio').change(function () {
        console.log('New star rating: ' + this.value);

    });


    




</script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }</script>