@{ 
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/Layout_logada.cshtml";
}

<div class="wrapper">
    <!-- Sidebar  -->
   
    <!-- Page Content  -->
    <div id="content" style="background: white">
        <section class="pesquisa" style=" width: 2000px;height:104px;background: #0C496BE6;position: absolute;top: 0px;left: -332px;">












            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 1000px;position:absolute;left: 19%;top:10px;">
                <div class="container-fluid">
                    <!-- <button type="button" id="sidebarCollapse" onmouse="menu()"class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>

                </button>-->


                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <input class="col-10 wrap-input pl-2 mt-3" style="width:870px;height: 40px;background-color: white;margin-left: 53px;" placeholder="Digite aqui o nome do fornecedor..." />


                    </div>

                    <!--<img style="width: 27px;height: 27px;margin-right: 100px; "src="imagens/pesquisa.png"/>-->
                    <button style="background: url('../Content/images/pesquisa.png') no-repeat;width: 30px;height:30px;margin-left: -120px;margin-top: 10px;"></button>


                    <button id="btfiltro" onclick="filtro()" style="background: url('../Content/images/filtro.png') no-repeat;width: 30px;height:30px;margin-top: 10px;"
                            class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>



                </div>
            </nav>

        </section>
        <div id="divFiltro" style="width:600px;height:450px;background-color:white;border: 30px;border-color: black;visibility:hidden;position: absolute;
            left: 31%;"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="
                            background-color: #0C496BE6;
                            color: white;
                            border-bottom: 3px solid #bbad00; ">

                        <h4 style="margin-left: 380px;" class="modal-title">Filtro </h4>
                        <button type="button" class="close" data-dismiss="modal" style="color:white;">×</button>

                    </div>
                    <div class="modal-body">
                        <p>Filtrar por:</p>

                      
                        <label style="margin-left: 4px;" class="container">
                            Entrega
                            
                            <input id="entrega" type="radio" checked="checked" name="radio">
                            <span style="margin-left: -15px;" class="checkmark"></span>
                        </label>
                        <label style="margin-left: 4px;" class="container">
                            Qualidade
                            <input id="qualidade" type="radio" name="radio">
                            <span style="margin-left: -15px;" class="checkmark"></span>
                        </label>
                        <label style="margin-left: 4px;" class="container">
                            Preço
                            <input id="preco" type="radio" name="radio">
                            <span style="margin-left: -15px;" class="checkmark"></span>
                        </label>
                        <label style="margin-left: 4px;" class="container">
                            Satisfação
                            <input id="satisfacao"  type="radio" name="radio">
                            <span style="margin-left: -15px;" class="checkmark"></span>
                        </label>
                        <label style="margin-left: 4px;" class="container">
                            Atendimento
                            <input id="atendimento" type="radio" name="radio">
                            <span style="margin-left: -15px;" class="checkmark"></span>
                        </label>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Concluir</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
