
@{ ViewBag.Title = "Contato"; }

<!-- INÍCIO - Carossel -->
<section class="home-slider owl-carousel">
    <div class="slider-item" 
         style="background-image: url('/Content/images/bg_3.jpg');" 
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Contato</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Carossel -->

<!-- INÍCIO - Contato -->
<section class="ftco-section contact-section">
    <div class="container bg-light">
        
        <!-- INÍCIO - Informações de Contato -->
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4 heading-section">
                <h2>Informações de Contato</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <p>
                   <span>Endereço:</span>
                </p>
                <p class="text-gray">Av. da Saudade, 125 - Ponte Preta, Campinas - SP</p>
            </div>
            <div class="col-md-3">
                <p>
                   <span>Telefone:</span>
                </p>
                <p>
                   <a class="text-gray" 
                      href="tel://1932312540">
                        (19) 3231-2540
                   </a>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                   <span>E-mail:</span>
                </p>
                <p>
                   <a class="text-gray"
                      href="mailto:suportesupplierranking@hotmail.com">
                        suportesupplierranking@hotmail.com
                   </a>
                </p>
            </div>
        </div>
        <!-- FIM - Informações de Contato -->

        <!-- INÍCIO - Formulário de Mensagem -->
        <div class="row block-9">
            <div class="col-md-6 pr-md-5">
                <form action="#">
                    <div class="form-group">
                        <input class="form-control" 
                               type="text" 
                               placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input class="form-control" 
                               type="text" 
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               type="text" 
                               placeholder="Assunto">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" 
                                  cols="30" rows="7" 
                                  placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary py-3 px-5">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-6" id="map"></div>
        </div>
        <!-- FIM - Formulário de Mensagem -->
    </div>
</section>
<!-- FIM - Contato -->