
@{ ViewBag.Title = "Home"; }

<!-- INÍCIO - Carossel -->
<section class="home-slider owl-carousel">
    <div class="slider-item" 
         style="background-image: url('/Content/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <p>
                        Nós somos <strong><a href="#">SupplierRanking</a></strong>
                        , Fornecimento de materiais com mais qualidade
                    </p>
                    <h1 class="mb-3">Trazendo ótimos negócios para você!!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" 
         style="background-image: url('/Content/images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <p>We're <strong><a href="#">Vertex</a></strong>, Construction and Development</p>
                    <h1 class="mb-3">Constructing is our life business</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Carossel -->

<!-- INÍCIO - Contador -->
@*<section class="ftco-counter" id="section-counter">
    <div class="container bg-light">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="1000">0</strong>
                        <span>Years on the market</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="12000">0</strong>
                        <span>Operational Brigades</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="10000">0</strong>
                        <span>Units of Engineering</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="12921">5143</strong>
                        <span>Employees of the company</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- FIM - Contador -->

<!-- INÍCIO - Objetivos -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Como iremos te ajudar?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-maintenance"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            Construction Management
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-construction"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            Pre-Construction Services
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-conveyor"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            Construction Services
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-engineer"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            General Constructing
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Objetivos -->

<!-- INÍCIO - Perfil -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Qual é o seu perfil?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-maintenance"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            Comprador
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
            <div class="divider ftco-animate"></div>
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="flaticon-construction"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">
                            Fornecedor
                        </h3>
                        <p>
                            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Perfil -->

<!-- INÍCIO - Fornecedores -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5 ftco-animate">
            <div class="col-md-8 text-center heading-section">
                <h2>Alguns dos nossos melhores Fornecedores...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ftco-animate">
                <a class="project project-img d-flex justify-content-center image-popup" 
                   href="/Content/images/image_1.jpg" 
                   style="background-image: url(/Content/images/image_1.jpg);">
                    <div class="align-self-center icon">
                        <span class="ion-ios-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12 ftco-animate">
                        <a class="project project-img project-img-2 d-flex justify-content-center image-popup" 
                           href="/Content/images/image_2.jpg" 
                           style="background-image: url(/Content/images/image_2.jpg);">
                            <div class="align-self-center icon">
                                <span class="ion-ios-search"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 ftco-animate">
                        <a class="project project-img project-img-2 d-flex justify-content-center image-popup" 
                           href="/Content/images/image_3.jpg" 
                           style="background-image: url(/Content/images/image_3.jpg);">
                            <div class="align-self-center icon">
                                <span class="ion-ios-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Fornecedores -->

<!-- INÍCIO - Experimente Agora -->
<section class="ftco-section cover_1" 
        style="background-image: url(/Content/images/bg_3.jpg);" 
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-8 ftco-animate">
                    <h2 class="heading">
                        Experimente Agora
                    </h2>
                    <p class="sub-heading mb-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" 
                           data-toggle="modal" 
                           data-target="#modalRequest" 
                           href="#" >
                            Request a Quote
                        </a>
                    </p>
                </div>
            </div>
        </div>
</section>
<!-- FIM - Experimente Agora -->

<!-- INÍCIO - Planos -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5 ftco-animate">
            <div class="col-md-7 text-center heading-section">
                <h2>Planos</h2>
            </div>
        </div>
        <div class="row">
            <!-- INÍCIO - Plano Free -->
            <div class="col-md-4 text-center ftco-animate">
                <div class="pricing p-4 py-5">
                    <div class="icon mb-2">
                        <img style="width:100px; heigth:100px;" src="~/Content/images/plano.png" />
                    </div>
                    <h3 class="mb-3">Free</h3>
                    <p class="mb-4">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p class="price mb-4 py-3">
                        <span class="mr-2 currency"> R$0,00 </span>
                        <span class="per"> por mês </span>
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary price-free">
                            Assinar
                        </a>
                    </p>
                </div>
            </div>
            <!-- FIM - Plano Free -->
            <!-- INÍCIO - Plano Premium -->
            <div class="col-md-4 text-center ftco-animate">
                <div class="pricing p-4 py-5">
                    <div class="icon mb-2">
                        <img style="width:100px; heigth:100px;" src="~/Content/images/give-money.png" />
                    </div>
                    <h3 class="mb-3">Premium</h3>
                    <p class="mb-4">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p class="price mb-4 py-3">
                        <span class="mr-2 currency"> R$29,90 </span>
                        <span class="per"> por mês </span>
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">
                            Assinar
                        </a>
                    </p>
                    <a href="#">
                        Faça o teste por 30 dias!
                    </a>
                </div>
            </div>
            <!-- FIM - Plano Premium -->
        </div>
    </div>
</section>
<!-- FIM - Planos -->

<!-- INÍCIO - MODAL -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAppointmentLabel">Request a Quote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group">
                        <label for="appointment_name" class="text-black">Full Name</label>
                        <input type="text" class="form-control" id="appointment_name">
                    </div>
                    <div class="form-group">
                        <label for="appointment_email" class="text-black">Email</label>
                        <input type="text" class="form-control" id="appointment_email">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="appointment_date" class="text-black">Date</label>
                                <input type="text" class="form-control" id="appointment_date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="appointment_time" class="text-black">Time</label>
                                <input type="text" class="form-control" id="appointment_time">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="appointment_message" class="text-black">Message</label>
                        <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- INÍCIO - MODAL -->
