
@{
    ViewBag.Title = "Planos";
    
}


   

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('/Content/images/planos.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-md-7 col-sm-12 ftco-animate">
                        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Pricing</span></p>
                        <h1 class="mb-3">Planos</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    
<!--PLANOS -->
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center ftco-animate">
                    <div class="pricing p-4 py-5">
                        <div class="icon mb-2"><span class="flaticon-skyline"></span></div>
                        <h3 class="mb-3">Free</h3>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="price mb-4 py-3"><span class="mr-2 currency">R$0,00</span> <span class="per">por mês</span></p>
                        <p><a href="#" class="btn btn-primary">Iniciar gratuitamente</a></p>

                    </div>
                </div>
                <div class="col-md-4 text-center ftco-animate">
                    <div class="pricing p-4 py-5">
                        <div class="icon mb-2"><span class="flaticon-skyline"></span></div>
                        <h3 class="mb-3">Premium</h3>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="price mb-4 py-3"><span class="mr-2 currency">R$29,90</span> <span class="per">por mês</span></p>
                        <p><a href="#" class="btn btn-primary">Assinar</a></p>
                        <a href="#">Faça o teste por 30 dias!</a>
                    </div>
                </div>
                <div class="col-md-4 text-center ftco-animate">
                    @*<div class="pricing p-4 py-5">
                        <div class="icon mb-2"><span class="flaticon-skyline"></span></div>
                        <h3 class="mb-3">Premium Plan</h3>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="price mb-4 py-3"><span class="mr-2 currency">$29</span> <span class="per">per month</span></p>
                        <p><a href="#" class="btn btn-primary">Get started</a></p>
                        <a href="#" data-toggle="modal" data-target="#modalRequest">Request a Quote</a>
                    </div>*@
                </div>
            </div>
        </div>
    </section>


    @*<section class="ftco-section cover_1" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-8 ftco-animate">
                    <h2 class="heading">Experience Our Advance Equipments</h2>
                    <p class="sub-heading mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
                    <p><a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalRequest">Request a Quote</a></p>
                </div>
            </div>
        </div>
    </section>*@

   
    <!-- Modal -->
    <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAppointmentLabel">Request a Quote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <label for="appointment_name" class="text-black">Full Name</label>
                            <input type="text" class="form-control" id="appointment_name">
                        </div>
                        <div class="form-group">
                            <label for="appointment_email" class="text-black">Email</label>
                            <input type="text" class="form-control" id="appointment_email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointment_date" class="text-black">Date</label>
                                    <input type="text" class="form-control" id="appointment_date">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointment_time" class="text-black">Time</label>
                                    <input type="text" class="form-control" id="appointment_time">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="appointment_message" class="text-black">Message</label>
                            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

