
@{ ViewBag.Title = "Sobre Nós"; }

<!-- INÍCIO - Carossel -->
<section class="home-slider owl-carousel">
    <div class="slider-item" 
         style="background-image: url('../../Content/images/about.jpg');" 
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">
                        Sobre Nós
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Carossel -->

<!-- INÍCIO - Como Surgiu -->
<section class="ftco-section-2">
    <div>
        <div class="section-2-blocks-wrapper row no-gutters">
            <div class="img col-sm-12 col-md-6" 
                 style="background-image: url('../../Content/images/team.jpg" 
                 data-aos="fade-right">
                <a class="button popup-vimeo"
                   href="https://vimeo.com/45830194"
                   data-aos="fade-right" 
                   data-aos-delay="700">
                   <span class="ion-ios-play"></span>
                </a>
            </div>
            <div class="text col-md-6">
                <div class="text-inner align-self-start" 
                     data-aos="fade-up">
                    <div class="heading-section ftco-animate fadeInUp ftco-animated">
                        <h2>Como surgiu?</h2>
                    </div>
                    
                    <p>A ideia surgiu quando, um dos fundadores teve a brilhante ideia de facilitar a vida dos compradores de materiais e fornecedores do mesmo.</p>

                    <p>Um determinado dia ele se juntou a um grupo de programadores e desenvolveram a ideia desse sistema super eficiente !</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM - Como Surgiu -->

<!-- INÍCIO - Nosso Time -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Nosso Time</h2>
            </div>
        </div>
        <div class="row">
            <div class="carousel-engine owl-carousel ftco-owl">
                <!-- INÍCIO - Laressa -->
                <div>
                    <div class="media d-block media-custom text-center">
                        <img class="img-fluid"
                             src="/Content/images/person_1.jpg" 
                             alt="Image Placeholder">

                        <div class="media-body p-3">
                            <h3 class="name">Laressa Assis</h3>
                            <span class="position">1</span>
                            <p>Front-End</p>
                            <p>Responsável por coordenar e desenvolver o Front-end.</p>
                            <p>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- FIM - Laressa -->

                <!-- INÍCIO - Luiz -->
                <div>
                    <div class="media d-block media-custom text-center">
                        <img class="img-fluid"
                             src="/Content/images/person_2.jpg" 
                             alt="Image Placeholder">
                        <div class="media-body p-3">
                            <h3 class="name">Luiz Gustavo</h3>
                            <span class="position">2</span>
                            <p>Front-End</p>
                            <p>Responsável por desenvolver Front-end.</p>
                            <p>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- FIM - Luiz -->

                <!-- INÍCIO - Marcelo -->
                <div>
                    <div class="media d-block media-custom text-center">
                        <img class="img-fluid"
                             src="/Content/images/person_3.jpg" 
                             alt="Image Placeholder">
                        <div class="media-body p-3">
                            <h3 class="name">Marcelo Lemos</h3>
                            <span class="position">3</span>
                            <p>Back-End</p>
                            <p>Responsável por desenvolver o Back-end e auxilía na montagem do Banco de Dados.</p>
                            <p>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- FIM - Marcelo -->

                <!-- INÍCIO - Valmir -->
                <div>
                    <div class="media d-block media-custom text-center">
                        <img class="img-fluid"
                             src="/Content/images/person_4.jpg" 
                             alt="Image Placeholder">
                        <div class="media-body p-3">
                            <h3 class="name">Valmir Junior</h3>
                            <span class="position">4</span>
                            <p>Back-End</p>
                            <p>Responsável pelo Back-end e Banco de Dados.</p>
                            <p>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- FIM - Valmir -->
            </div>
        </div>
    </div>
</section>
<!-- FIM - Nosso Time -->
