@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<script src="~/Content/js/login.js"></script>
<div class="container-login100">
    

    <div class="wrap-login100">


        <!---Switch Comprador-->
        <div class="login100-pic js-tilt" data-tilt>
            <img style="width:80px;heigth:80px;" src="~/Content/images/comprador.png" IMG" />
            <h1 style="color:white;font-size:13px;">Comprador</h1>
        </div>

        <!---Switch -->
        <label id="labelCheck" class="switch" style="
            margin-top: -25px;
            margin-left: -77px;
            ">

            <input id="switchFornecedor" type="checkbox">
            <span class="slider round"></span>
        </label>



        <!---- Fornecedor-->
        <div class="login100-pic js-tilt" data-tilt>

            <img style="width:80px;heigth:80px;" src="~/Content/images/Login.png" IMG" />
            <h1 style="color:white;font-size:13px;">Fornecedor</h1>
        </div>




        <!---Pessoa fisica-->
        <div id="fisica" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg); float: left;
                margin: 0px 74px 10px;margin-left: 15px;padding-bottom: 51px;">

            <img style="width:80px;heigth:80px;margin-top: 156px;margin-left: -246px;"
               src="/Content/images/comprador.png" img"="">
            <h1 style="color:white;font-size:13px;margin-left: -224px;">
                Física
            </h1>
        </div>

        <!----Pessoa juridica-->
        <div id="juridica" data-tilt="" style="
        will-change: transform;
        transform: perspective(300px) rotateX(0deg) rotateY(0deg);
        margin-left: -58px;
        height: 100px;
        margin-top: 150px;
        padding-right: 345px;
        ">

            <img style="width:80px;heigth:80px;" src="/Content/images/Login.png" img"="">
            <h1 style="color:white;font-size:13px;">Jurídica</h1>

        </div>



       



        @*<h2 class="text-center heading-section" style="margin-top: -510px;
            margin-left: 228px;color: white;">

            Crie sua Conta

        </h2>*@


        <!-----Formulario de Cadastro-->
        <form class="login100-form validate-form">
           
           
            <!-- Switch  -->
            <label id="labelCheckJuri" class="switch" style="margin-left: -110px;margin-top: 7px;">

                <input style="margin-left: 31px;" id="switchJuridica" type="checkbox">
                <span class="slider round"></span>
            </label>
           
            
           

            <!---cadastro Funcionario -->
            <div id="inputCPF" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" style="
                    margin-top: -267px;
                    margin-left: 225px;
                        ">
                <input class="input100" type="text" name="login" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
           
            <div id="inputNome" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" style="
                    margin-top: 325px;
                    margin-left: 225px;
                        ">
                <input class="input100" type="text" name="login" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
          
            <div id="inputSobrenome" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" style="
                    margin-top: -151px;
                    margin-left: 225px;
                        ">
                <input class="input100" type="text" name="login" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>


            <div id="inputEmail" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" style="
                    margin-top: -267px;
                    margin-left: 225px;
                        ">
                <input class="input100" type="text" name="login" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>


            <div class="wrap-input100 validate-input" data-validate="Password is required" style="
                    margin-top: 36px;
                    margin-left: 227px;
                    ">
                <input class="input100" type="password" name="senha" placeholder="Senha">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

         



       
        </form>
    </div>
</div>

