@{ 
     ViewBag.Title = "Login";
     Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h2>Login</h2>
    </div>
</div>

<div class="row align-items-center justify-content-center m-5 p-5">
    
    <!--- Comprador --->    
    <div class="col-5 text-center js-tilt" data-tilt>
        <button id="btnComprador" class="col-9 switch-wrapper p-3">
            <img src="/Content/images/comprador.png" />
            <h5 class="switch-person-title p-2">Comprador</h5>    
        </button>
    </div>

    <!--- Switch --->
    <label id="labelCheck" class="switch m-3">
        <input id="switchFornecedor" type="checkbox">
        <span class="slider round unchecked"></span>
    </label>

    <!--- Fornecedor --->
    <div class="col-5 text-center js-tilt" data-tilt>
        <button id="btnFornecedor" class="col-9 switch-wrapper p-3">
            <img src="/Content/images/fornecedor.png" />
            <h5 class="switch-person-title p-2">Fornecedor</h5>
        </button>
    </div>

</div>

<!--- Formulário de Login --->
<form class="login-form validate-form">

    <div id="wrapperPessoas"
         class="row align-items-center justify-content-center m-5 p-5">

        <!--- Pessoa Física --->
        <div class="col-5 text-center js-tilt" data-tilt>
            <button id="btnFisica" class="col-9 switch-wrapper p-3">
                <img src="/Content/images/comprador.png" />
                <h5 class="switch-person-title p-2">Física</h5>
            </button>
        </div>

        <!--- Switch --->
        <label id="labelCheckJuri" class="switch m-3">
            <input id="switchJuridica" type="checkbox">
            <span class="slider round unchecked"></span>
        </label>

        <!--- Pessoa Jurídica --->
        <div class="col-5 text-center js-tilt" data-tilt>
            <button id="btnJuridica" class="col-9 switch-wrapper p-3">
                <img src="/Content/images/fornecedor.png" />
                <h5 class="switch-person-title p-2">Jurídica</h5>
            </button>
        </div>

    </div>
                


           
            @*<!---input CNPJ JURIDICA-->
            <div id="inputJuridica" class="wrap-input100 validate-input"
                 data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="CNPJ">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <!--Aparece  Funcionario -->
            <div style="margin-top: -224px;will-change: transform;transform: perspective(300px) rotateX(0deg) rotateY(0deg);margin-left: -125px;width: 14px;margin-bottom: -39px;" id="funcionario" data-tilt="">
                <img style="width:80px;heigth:80px;" src="/Content/images/comprador.png" img"="">
                <h1 style="color:white;font-size:13px;width: 24px;">Funcionario</h1>
            </div>

            <!--Aparece  Switch -->
            <label id="labelCheckFuncionario" class="switch" style="margin-bottom: 87px;margin-left: 118px;">

                <input id="switchFuncionario" type="checkbox" style="margin-left: 4px; display: inline-block;">
                <span class="slider round"></span>
            </label>

            <!---input CPF FISICA-->
            <div id="inputFisica" class="wrap-input100 validate-input"
                 data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <!---input CNPJ Fornecedor-->
            <div id="inputFornecedor" class="wrap-input100 validate-input"
                 data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="CNPJ">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <!---input Funcionario -->
            <div id="inputFuncionario" class="wrap-input100 validate-input"
                 data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="CPF">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>


            <div class="wrap-input100 validate-input"
                 data-validate="Password is required">
                <input class="input100" type="password" name="pass" placeholder="Senha">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>

            <div class="text-center p-t-12">
                <span class="txt1">
                    Esqueceu
                </span>
                <a class="txt2" href="#">
                    Usuário / Senha ?
                </a>
            </div>

            <div class="text-center p-t-136">
                <a class="txt2" href="#">
                    Criar conta
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>*@
</form>