@model SupplierRanking.Models.Comprador

<!DOCTYPE html>
<html>

<head>
    <title>Supplier Ranking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body cellpadding="0" cellspacing="0" width="100%" bgcolor="#CCCCCC" align="center" border="0" style="height:100%; margin:0; padding:0; border-collapse:collapse!important; width:100%!important">
    <center>
        <table width="700" cellpadding="0" cellspacing="0" align="center" valign="top" 
            style="font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; line-height:160%; margin:0; padding:40px; height:100%!important">
            <tbody>
                <tr>
                    <td >
                        <!-- INICIO - Corpo do Email -->
                        <table width="700" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #DAA520; box-shadow: 1px 5px 21px 1px #0009;">
                            <tbody>
                                <!-- INICIO - Logo -->
                                <tr>
                                    <td height="200" align="center" style="background: linear-gradient(-135deg, #0e81b6, #222426);">
                                        <img width="110" style="border:0;" src="~/Content/images/logo.png"/>
                                    </td>
                                </tr>
                                <!-- FIM - Logo -->

                                <!-- INICIO - Mensagem com o Código -->
                                <tr>
                                    <td height="400" align="center" style="padding: 50px 70px 30px;">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important">
                                            <tbody>
                                                <tr>
                                                    <td height="50" valign="top" align="center" style="padding-bottom: 20px;">
                                                        <h1 style="color: #DAA520;">Alteração de Senha</h1>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center" style="padding-bottom: 20px;">
                                                        <p> Clique no botão abaixo para alterar a sua senha: </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center" style="padding-bottom: 20px;">
                                                        <a href="http://localhost:16962/Comprador/NovaSenha" target="_blank" 
                                                            style="display:block; width:80%; color: #0C496Bc9; font-weight:bold; text-transform:uppercase; text-decoration:none; border:2px solid #0C496Bc9; border-radius:10px; margin:0 auto; padding:10px; cursor: pointer;">
                                                            Alterar Senha
                                                        </a>
                                                    </td>
                                                </tr>                                                    
                                                <tr>
                                                    <td valign="top" align="center">
                                                        <p> Esse link irá expirar em <strong>2 horas</strong>. </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center" style="padding-bottom: 20px;">
                                                        <p> Caso não tenha pedido essa alteração, certifique-se de que você não compartilhou a sua senha com ninguém. </p>
                                                        <p> Se você tiver certeza de que ninguém possui a senha do seu e-mail, não precisa se preocupar, pois esse link de redefinição logo vai expirar e a sua senha não mudará. </p>        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center" style="padding-bottom: 20px;">
                                                        <p style="margin-bottom: 0;"> Obrigada, </p>
                                                        <p style="margin-top: 0;"> Equipe Supplier Ranking </p>            
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </td>
                                </tr>
                                <!-- FIM - Mensagem com o Código -->

                                <!-- INICIO - Importante -->
                                <tr>
                                    <td valign="top" align="center" style="background: #DAA520; padding: 20px">
                                        <p style="font-size: 13px; line-height: 1.5em; margin: 0;">
                                            <strong>Importante:</strong> Esta é uma mensagem automática e não deve ser respondida! <br>
                                            Lembre-se de manter atualizado o antivírus do seu computador.
                                        </p>
                                    </td>
                                </tr>
                                <!-- FIM - Importante -->
                            </tbody>
                        </table>
                        <!-- FIM - Corpo do Email -->
                        
                    </td>
                </tr>
                <!-- INICIO -  -->
                <!-- <tr>
                    <td width="275" height="300" style="background: linear-gradient(-135deg, #0e81b6, #222426);">&nbsp;</td>
                    <td width="150" height="300" style="background: linear-gradient(-135deg, #0e81b6, #222426);">
                        <a href="">
                            <img style="border:0; display:block;" src="img/logo.png" />
                        </a>
                    </td>
                    <td width="275" height="300" style="background: linear-gradient(-135deg, #0e81b6, #222426);">&nbsp;</td>
                </tr> -->
                <!-- FIM - Logo -->
                
                <!-- INICIO - Rodapé -->
                <tr>
                    <td width="700" height="185">
                        <a href="https://loja.cocacola.com.br/?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=destaque-eu-quero#">
                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/7B6Q28ABF0417" />
                        </a>
                    </td>
                </tr>
                <!-- FIM - Rodapé -->
                <!-- FIM - Imagem principal -->
                <!-- INICIO - Frete Gratis -->
                <tr>
                    <td width="700" height="37">
                        <a href="https://loja.cocacola.com.br/?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=footer-vermelho#">
                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/PqAe21ABF0411" />
                        </a>
                    </td>
                </tr>
                <!-- FIM - Frete Gratis -->
            </tbody>
        </table>
        <!-- INICIO - Redes Sociais, Duvidas e Logo Coca-Cola Brasil -->
        <table width="700" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <!-- INICIO - Redes Sociais -->
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="40" height="32">
                                                        <a target="_blank" href="https://www.facebook.com/cocacolabr">
                                                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/Jzdk1aABF0413" />
                                                        </a>
                                                    </td>
                                                    <td width="42" height="32">
                                                        <a target="_blank" href="https://twitter.com/cocacola_br">
                                                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/z0Y788ABF0447" />
                                                        </a>
                                                    </td>
                                                    <td width="41" height="32">
                                                        <a target="_blank" href="https://www.youtube.com/user/cocacola">
                                                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/jtU87cABF0494" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- INICIO - Telefone -->
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="171" height="44">
                                                        <img style="display: block; border:0;" src="http://dl.dnzdns.com/v/juve92ABF0417" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- FIM - Telefone -->
                                    </td>
                                    <!-- FIM - Redes Sociais -->
                                    <td height="1" width="123">&nbsp;</td>
                                    <!-- INICIO - Dúvidas Frequentes, Termos de Uso e Privacidade -->
                                    <td width="197" height="126">
                                        <table border="0" cellpadding="0" cellspacing="0" height="77">
                                            <tbody>
                                                <tr>
                                                    <td width="190">
                                                        <a style="text-decoration:none; backface-visibility: hidden; color: #ffffff; font: inherit; font-family: Arial, Sans-serif; font-weight: 700; text-align: left; font-size: 15px;"
                                                            target="_blank" href="https://loja.cocacola.com.br/atendimento/duvidas-frequentes?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=duvidas">
                                                            D&uacute;vidas Frequentes
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="190">
                                                        <a style="text-decoration:none; backface-visibility: hidden; color: #ffffff; font: inherit; font-family: Arial, Sans-serif; font-weight: 700; text-align: left; font-size: 15px;"
                                                            target="_blank" href="https://loja.cocacola.com.br/institucional/termos-de-uso?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=termos-de-uso">
                                                            Termos de uso
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="190">
                                                        <a style="text-decoration:none; backface-visibility: hidden; color: #ffffff; font: inherit; font-family: Arial, Sans-serif; font-weight: 700; text-align: left; font-size: 15px;"
                                                            target="_blank" href="https://loja.cocacola.com.br/institucional/privacidade?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=privacidade">
                                                            Privacidade
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- FIM - Dúvidas Frequentes, Termos de Uso e Privacidade -->
                                    <!-- INICIO - Logo Coca-Cola -->
                                    <td width="162" height="76">
                                        <a href="https://loja.cocacola.com.br/?utm_source=Newsletter&utm_medium=E-mail&utm_campaign=Ecommerce-2018&utm_content=Disparo-14-03-18-diadoconsumidor&utm_term=logo-coca-cola-brasil#">
                                            <img style="border:0; display:block;" alt="" src="http://dl.dnzdns.com/v/jncUa5ABF0414" />
                                        </a>
                                    </td>
                                    <!-- FIM - Logo Coca-Cola -->
                                    <td width="41" height="126">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- FIM - Footer Redes sociais -->
                    </td>
                </tr>
                <!-- INICIO - Formas de Pagamento -->
                <tr>
                    <td bgcolor="#000000" width="700" height="63">
                        <img style="border: 0px; display: block;" alt="" src="http://dl.dnzdns.com/v/wF3DfbABF0418" />
                    </td>
                </tr>
                <!-- FIM - Formas de Pagamento -->
                <!-- INICIO - CopyRight -->
                <tr>
                    <td bgcolor="#FFFFFF">
                        <p style="color: #717171; font: inherit; font-family: Arial, Sans-serif; text-align: center; font-size: 13px; font-weight: bold;">&copy; 2018 Recofarma Ind&uacute;stria do Amazonas LTDA, all rights reserved. 61.454393/0006-02</p>
                    </td>
                </tr>
                <!-- FIM - CopyRight -->
            </tbody>
        </table>
        <!-- FIM - Redes Sociais, Duvidas e Logo Coca-Cola Brasil -->
    </center>
</body>

</html>