@model SupplierRanking.Models.Comprador
@{
    ViewBag.Title = "UpdateSenha";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="container-login100">

    <div class="wrap-login100" style="background-color: white;">

        <h2>UpdateSenha</h2>

        <form action="../Comprador/UpdateSenha" method="post" class="login100-form validate-form">
            <p>@ViewBag.Message</p>
            <!--- Campos do Comprador Fisico -->
            <div>
                <input type="hidden" value="" name="codigo" readonly="readonly" style="background-color: gray">
                <br /> <br />
                <input type="text" name="senhaAntiga" placeholder="Senha antiga">
                <input type="text" name="senhaNova" placeholder="Senha nova">
                <input type="text" name="confirmaSenhaNova" placeholder="Confirma senha nova">
                <br /> <br />
            </div>

            <br /> <br />
            <button id="btnSalvar">Salvar</button>
        </form>
    </div>
</div>

