.rating {
  /*display: block;*/
  position: relative;
  /*height: 50px;
  line-height: 50px;*/
  font-size: 36px;
  /*margin-left: 318px;*/
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #D0A748
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

#myModal2 textarea,
#myModal2 textarea:focus  {
    width:100%; 
    height:77px; 
    border: 1px solid rgba(0,0,0,0.2) !important; 
    border-radius: 4px; 
    font-size:18px; 
    resize:none;
}
