
@{
    ViewBag.Title = "CadastrarAvaliacao";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">

    <div class="wrap-login100" style="background-color: white;">

        <h2>Cadastrar Avaliação</h2>

        <form action="../Avaliacao/CadastrarAvaliacao" method="post" class="login100-form validate-form">
            <p>@ViewBag.Message</p>
            <!--- Campos do Comprador Fisico -->
            <div>
                <input type="text" value="5" name="qualidade" style="border: 1px solid black" placeholder="Qualidade">
                <input type="text" value="4" name="atendimento" style="border: 1px solid black" placeholder="Atendimento">
                <input type="text" value="3" name="entrega" style="border: 1px solid black" placeholder="Entrega">
                <input type="text" value="3" name="preco" style="border: 1px solid black" placeholder="Preço">
                <input type="text" value="4" name="satisfacao" style="border: 1px solid black" placeholder="Satisfação">
                <br /> <br />
                <input type="text" value="Muito Bom!!! Amei" name="comentario" style="border: 1px solid black" placeholder="Comentário">
                <br /> <br />
                @*<input type="text" value="09/11/2018" name="data_avaliacao" placeholder="Dia / Mês / Ano" style="border: 1px solid black">*@
                <input type="text" value="91.183.484/0001-26" name="cnpj_fornecedor" placeholder="cnpj fornecedor" style="border: 1px solid black">
                <input type="text" value="1" name="codigo_comprador" placeholder="codigo comprador" style="border: 1px solid black">
                <br /> <br />
            </div>

            <br /> <br />
            <button id="btnSalvar">Salvar</button>
        </form>
    </div>
</div>

