@model SupplierRanking.Models.Avaliacao
@{
    ViewBag.Title = "UpdateComentario";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<div class="m-5">
    <div class="row" style="width: 1705px;">

        <h2 style="color: #D0A748;font-weight: bold;text-shadow: 1px 2px 0px #6c6c6c;margin-top: 1rem;margin-left: 35rem;margin-bottom: -136px;">
            Você já avaliou esta empresa/fornecedor, poderá avaliar novamente <br />depois de 7 dias da sua última avaliação. Deseja alterar seu comentário? 
        </h2>

            <!-- Modal content -->
            <div style="width: 835px;height: 600px;top:-15rem;" class="modal-content">
                <h2 style="margin-left: 43rem;position: relative;letter-spacing: -2px;">1 ✩ 2 ✩ 3 ✩ 4 ✩ 5</h2>
                <h2 style="margin-top: -4rem;">Sua última avaliação:</h2>

                <h3>Entrega</h3>
                <h3>Qualidade</h3>
                <h3>Atendimento</h3>
                <h3>Preço</h3>
                <h3>Satisfação</h3>

                <form method="post" action="../Avaliacao/UpdateComentario" class="rating">

                    <!-- Qualidade -->
                    <div style="position: relative;top: -27.5rem;left: 21%;">
                        @if (Model.Entrega <= 1)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Entrega > 1 && Model.Entrega <= 2)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Entrega > 2 && Model.Entrega <= 3)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Entrega > 3 && Model.Entrega <= 4)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Entrega > 4 && Model.Entrega <= 5)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                        }


                    </div>

                    <!-- Qualidade -->
                    <div style="position:relative;top: -26.8rem;left: 21%;">
                        @if (Model.Qualidade <= 1)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Qualidade > 1 && Model.Qualidade <= 2)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Qualidade > 2 && Model.Qualidade <= 3)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Qualidade > 3 && Model.Qualidade <= 4)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Qualidade > 4 && Model.Qualidade <= 5)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                        }
                    </div>

                    <!-- Atendimento -->
                    <div style="position: relative;top: -26.8rem;left: 21%;">

                        @if (Model.Atendimento <= 1)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Atendimento > 1 && Model.Atendimento <= 2)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Atendimento > 2 && Model.Atendimento <= 3)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Atendimento > 3 && Model.Atendimento <= 4)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Atendimento > 4 && Model.Atendimento <= 5)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                        }
                    </div>

                    <!-- Preço -->
                    <div style="position: relative;top: -25.8rem;left: 21%;">
                        @if (Model.Preco <= 1)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Preco > 1 && Model.Preco <= 2)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Preco > 2 && Model.Preco <= 3)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Preco > 3 && Model.Preco <= 4)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Preco > 4 && Model.Preco <= 5)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                        }
                    </div>

                    <!-- Satisfacao -->
                    <div style="position: relative;top: -24.8rem;left: 21%;">
                        @if (Model.Satisfacao <= 1)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Satisfacao > 1 && Model.Satisfacao <= 2)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Satisfacao > 2 && Model.Satisfacao <= 3)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Satisfacao > 3 && Model.Satisfacao <= 4)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Satisfacao > 4 && Model.Satisfacao <= 5)
                        {
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                            <span style="color:#ffb31a;" class="fa fa-star "></span>
                        }
                    </div>

                    <div style="position: relative;top: -245px;">
                        <a style="font-size: 24px;">Data da avaliação: @Model.Data_avaliacao</a>
                        <h1 style="margin-bottom: -17px;margin-left: 344px;font-size: 23px;">Comentário</h1>
                        <input name="comentario" value="@Model.Comentario" style="margin-left: 161px;width: 463px;height: 30px;font-size: 20px;font-family: inherit;margin-top: 40px;border-radius: 100px;border: 1px solid gray;padding-left: 13px;box-shadow: 1px 1px 13px;" />

                        <button type="submit" class="btn btn-info btn-lg ">Atualizar Comentário</button>
                    </div>

                </form>

            </div>

        








        </div>
    </div>
