
.wrap-cadastro {
    width: 1024px;
    height: 850px;
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 7px 14px 4px #575757;
}

.form-first-part {
    position: relative;
    top: -94%;
}

.input {
    padding: 0 20px;
}

.focus-input {
    width: 91.5%;
}

.states {
    width: 30%;
    background: #E6E6E6;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 0 20px 0 40px;
    font: 15px inherit 500;
    color: #666666;
    line-height: 1.5;
}

.form-second-part {
    position: absolute;
    top: 13.9%;
    left: 0;
}

.form-second-part .wrap-input {
    padding: 0 1.1em;
}