
.wrap-cadastro {
    width: 1024px;
    height: 1150px;
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 7px 14px 4px #575757;
}

.form-first-part {
    position: relative;
    top: -94%;
}

.input {
    padding: 0 20px;
}

.focus-input {
    width: 91.5%;
}

.states {
    width: 30%;
    background: #E6E6E6;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
    font: 15px inherit 500;
    color: #666666;
    line-height: 1.5;
}

.form-second-part {
    position: absolute;
    top: 13.9%;
    left: 0;
}

.form-second-part .wrap-input {
    padding: 0 1.1em;
}

.form-third-part {
    min-height: 660px;
}

.form-third-part .row:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-third-part .checkbox-container {
    position: relative;
    cursor: pointer;
}

.form-third-part .checkbox-container label {
    color: #000;
    text-transform: capitalize;
    padding-left: 35px;
}

/* Hide the browser's default checkbox */
.form-third-part .checkbox-container input[type="checkbox"],
.form-third-part .checkbox-container input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox {
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #EEE;
    border: 1px solid #0C496Bc9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox:after {
    display: block;
    background-color: #0C496Bc9;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox:after {
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
}

.form-third-part .other-option .checkbox {
    top: 0;
}