
.wrap-cadastro {
    position: relative;
    width: 1024px;
    height: 870px;
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 7px 14px 4px #575757;
}

.row-cadastro {
    height: 81%;
}

.input {
    padding: 0 20px;
}

.states {
    width: 30%;
    background: #E6E6E6;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
    font: 15px inherit 500;
    color: #666666;
    line-height: 1.5;
}

/* Create a custom checkbox */
.checkbox {
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #EEE;
    border: 1px solid #0C496Bc9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox:after {
    display: block;
    background-color: #0C496Bc9;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox:after {
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
}

.cadastro-options {
    position: absolute;
    bottom: 5vh;
    left: 0;
}


/********************* PESSOA FÍSICA *********************/

.form-pf-first-part {
    position: relative;
    top: -94%;
}

.form-pf-second-part {
    position: absolute;
    top: 13.9%;
    left: 0;
}

.form-pf-second-part .wrap-input {
    padding: 0 1.1em;
}

.form-pf-third-part .row:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-pf-third-part .checkbox-container {
    position: relative;
    cursor: pointer;
}

.form-pf-third-part .checkbox-container label {
    color: #000;
    text-transform: capitalize;
    padding-left: 35px;
}

/* Hide the browser's default checkbox */
.form-pf-third-part .checkbox-container input[type="checkbox"],
.form-pf-third-part .checkbox-container input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.form-pf-third-part .other-option .checkbox {
    top: 0;
}


/********************* PESSOA JURÍDICA *********************/

.form-pj-first-part {
    position: relative;
    top: -101%;
}

.form-pj-second-part {
    position: absolute;
    top: 8%;
    left: 0;
}

.form-pj-second-part .wrap-input {
    padding: 0 1.1em;
}

.form-pj-third-part .row:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-pj-third-part .checkbox-container {
    position: relative;
    cursor: pointer;
}

.form-pj-third-part .checkbox-container label {
    color: #000;
    text-transform: capitalize;
    padding-left: 35px;
}

/* Hide the browser's default checkbox */
.form-pj-third-part .checkbox-container input[type="checkbox"],
.form-pj-third-part .checkbox-container input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.form-pj-third-part .other-option .checkbox {
    top: 0;
}


/********************* FORNECEDOR *********************/

.form-forn-first-part {
    position: relative;
    top: -110%;
}

.form-forn-first-part .input-slogan {
    height: 190px;
    line-height: 1.5em;
    padding: 20px;
    resize: none;
}

.form-forn-second-part {
    position: absolute;
    top: 8%;
    left: 0;
}

.form-forn-second-part .wrap-input {
    padding: 0 1.1em;
}

.form-forn-third-part .row:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-forn-third-part .checkbox-container {
    position: relative;
    cursor: pointer;
}

.form-forn-third-part .checkbox-container label {
    color: #000;
    text-transform: capitalize;
    padding-left: 35px;
}

/* Hide the browser's default checkbox */
.form-forn-third-part .checkbox-container input[type="checkbox"],
.form-forn-third-part .checkbox-container input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.form-forn-third-part .other-option .checkbox {
    top: 0;
}

.form-forn-forth-part {
    position: absolute;
    top: -260%;
}

.form-forn-forth-part .wrap-input > textarea {
    height: 120px;
}

.form-forn-forth-part .wrap-input textarea {
    resize: none;
    padding: 1em;
    overflow-y: auto;
}

.form-forn-forth-part .input-image,
.form-forn-forth-part .input-images {
    width: 20em;
    height: 20em;
    cursor: pointer;
}

.form-forn-forth-part .input-images {
    width: 10em;
    height: 10em;
}

.form-forn-forth-part .input-image-default {
    border: none;
}

.form-forn-forth-part .input-image-carregada {
    border: 9px dashed #0C496Bc9;
}

.form-forn-forth-part #imagensCarregada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 330px;
    overflow: auto;
}

.form-forn-forth-part #imagensCarregada .image-wrapper {
    position: relative;
    margin: 1em .3em;
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.form-forn-forth-part #imagensCarregada .image-wrapper img {
    max-width: 150px;
    max-height: 100px;
}

.form-forn-forth-part #imagensCarregada .image-wrapper .remove-image {
    width: 100%;
    height: 100%;
    background: url('../images/fechar.png') #000000b3 no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
