
body {
    position: relative;
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.conteudo-logada {
    min-height: 84vh;
    position: absolute;
    top: 105px;
    left: 170px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #0C496BE6;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn-concluir {
    width: 15.6em;
    height: 50px;
    background: #0C496Bc9;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-concluir:hover {
	color: #DAA520;
    border: 1px solid #DAA520;
    box-shadow: 1px 2px 4px 2px #CCC;
}

.footer-logado h4 {
    font-weight: bold;
    color: #FFF;
}

.footer-logado a {
    font-size: 16px;
    color: #D0A748;
}

.footer-logado p,
.footer-logado p>a {
    font-size: 15px;
}


/* ---------------------------------------------------
    BARRA DE PESQUISA
----------------------------------------------------- */

.section-pesquisa {
    height: 104px;
    background: #0C496BE6;
}

.section-pesquisa nav {
    border-radius: 4px;
}

.section-pesquisa .input-pesquisa {
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.section-pesquisa .btn-pesquisa,
.section-pesquisa .btn-filtro {
    width: 30px;
    height:30px;
}

.section-pesquisa .wrap-btns {
    width: 85px;
}

.section-pesquisa .btn-pesquisa {
    background: url('../images/pesquisa.png') no-repeat;
}

.section-pesquisa .btn-filtro {
    background: url('../images/filtro.png') no-repeat;
}


/* ---------------------------------------------------
    MENU LATERAL
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
   width: 150px;
    height: 100vh;
    position: fixed;
    top: 0px;
   background: #0C496BE6;
   color: #fff;
}
   
#sidebar .sidebar-header {
    height: 104px;
}

#sidebar .sidebar-header h4 {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

#sidebar ul.nav-menu {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul.nav-menu li {
    flex-direction: column;
}

#sidebar ul.nav-menu #perfil {
    width: 100px; 
    height: 100px; 
    border-radius: 50px; 
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); 
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul h5 {
    color: #fff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: white;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #D0A748;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}*/

/*a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.conteudo-perfil {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: #e0e0e0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

a.perfil {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.modal-open {
	overflow: visible !important;
}

.comentario {
   width: 1197px;
   height: 120px;
   position: absolute;
   border: solid 3px;
   top: 3%;
   left: 5%;
    }

 .input[type='file'] {
  display: none
}

.input-wrapper label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 6px 20px
}

.input-wrapper label:hover {
  background-color: #2980b9
}
