
@import "../css/carossel.css";
@import "../css/contato.css";
@import "../css/cover_overlay.css";
@import "../css/footer.css";
@import "../css/ftco.css";
@import "../css/loader.css";
/*@import "../css/main.css";*/
@import "../css/media.css";
@import "../css/menu.css";
@import "../css/planos.css";
@import "../css/sobre_nos.css";
/*@import "../css/util.css";*/

/*
    Valores para substituir nos @media

    767.98px  = 576px    (sm)
    991.98px  = 768px    (md)
    1199.98px = 992px    (lg)
              = 1200px   (xl)

*/

/***** Font-Color e Background-Color *****/
.text-primary {
    color: #013B51 !important;
}

.text-golden {
    color: #DAA520 !important;
}

.text-white {
    color: #FFF !important;
}

.text-gray {
    color: #5C5C5C !important;
}

.bg-light {
    background: #FAFAFA!important;
}

.bg-white {
    background: #FFF;
}

.bg-primary {
    background: #013B51;
}

.bg-golden {
    background: #DAA520;
}

/************** Botões ***************/
.btn {
    cursor: pointer;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover,
.btn:active,
.btn:focus {
     outline: none;
}

.btn.btn-primary {
    background: #0962ea;
    border: 2px solid #0962ea;
    color: #fff;
}

.btn.btn-primary:hover {
    border: 2px solid #0962ea;
    background: transparent;
    color: #0962ea;
}

.btn.btn-primary.btn-outline-primary {
    border: 2px solid #0962ea;
    background: transparent;
    color: #0962ea;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 2px solid transparent;
    background: #0962ea;
    color: #000;
}

.btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-radius: 0px;
    border-width: 2px;
}

.btn.btn-outline-white:hover,
.btn.btn-outline-white:focus,
.btn.btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #000;
}


/************** Ftco ***************/
@media (max-width: 992px) {
	.ftco-vh-100 {
		height: inherit;
		padding-top: 5em;
		padding-bottom: 5em;
	}

    .ftco-vh-75 {
		min-height: 700px;
		height: inherit;
		padding-top: 5em;
		padding-bottom: 5em;
	}
}

.ftco-vh-100 {
	height: 100vh;
}

.ftco-vh-75 {
	height: 75vh;
	min-height: 700px;
}
